{%load static%}
<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!--> <html lang="en"> <!--<![endif]-->

<head>
	<title>UI PMS | University Printery Database</title>

	<!-- Meta -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">
	<meta name="author" content="">

	<!-- Favicon -->
	<link rel="shortcut icon" href="favicon.ico">

	<!-- Web Fonts -->
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:400,300,600&amp;subset=cyrillic,latin">

	<!-- CSS Global Compulsory -->
	<link rel="stylesheet" href="{% static 'plugins/bootstrap/css/bootstrap.min.css' %}">
	<link rel="stylesheet" href="{% static 'css/style.css'%}">

	<!-- CSS Header and Footer -->
	<link rel="stylesheet" href="{% static 'css/headers/header-v3.css' %}">
	<link rel="stylesheet" href="{% static 'css/footers/footer-v1.css' %}">

	<!-- CSS Implementing Plugins -->
	<link rel="stylesheet" href="{% static 'plugins/animate.css' %}">
	<link rel="stylesheet" href="{% static 'plugins/line-icons/line-icons.css' %}">
	<link rel="stylesheet" href="{% static 'plugins/font-awesome/css/font-awesome.min.css' %}">
	<link rel="stylesheet" href="/static/plugins/font-awesome/css/font-awesome.min.css">
	<link rel="stylesheet" href="/static/plugins/scrollbar/css/jquery.mCustomScrollbar.css">
	<link rel="stylesheet" href="/static/plugins/sky-forms-pro/skyforms/css/sky-forms.css">
	<link rel="stylesheet" href="/static/plugins/sky-forms-pro/skyforms/custom/custom-sky-forms.css">

	<!-- CSS Theme -->
	<link rel="stylesheet" href="{% static 'css/theme-colors/default.css' %}" id="style_color">
	<link rel="stylesheet" href="{% static 'css/theme-skins/dark.css' %}">

	<!-- CSS Customization -->
	<link rel="stylesheet" href="{%static 'css/custom.css' %}">

	{% block css %}
	
	{% endblock css %}
</head>

<body class="header-fixed">
	<div class="wrapper">
		<!--=== Header v3 ===-->
		{% include "header.html" %}
		<!--=== End Header v3 ===-->
		{% if messages %}
          {% for message in messages %}
              <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}">{{ message|safe }}</div>
          {% endfor %}
      {% endif %}

		{% block slider %}
		
		{% endblock slider %}

		<!--=== Content ===-->
	
				{% block content %}
				
				{% endblock content %}
		<!--=== End Content ===-->

	{% include "footer.html" %}
	</div><!--/wrapper-->

	<!-- JS Global Compulsory -->
	<script type="text/javascript" src="{% static 'plugins/jquery/jquery.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'plugins/jquery/jquery-migrate.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'plugins/bootstrap/js/bootstrap.min.js' %}"></script>
	<!-- JS Implementing Plugins -->
	<script type="text/javascript" src="{% static 'plugins/back-to-top.js' %}"></script>
	<script type="text/javascript" src="{% static 'plugins/smoothScroll.js' %}"></script>
	<script type="text/javascript" src="{% static 'plugins/jquery.parallax.js' %}"></script>
	<script type="text/javascript" src="/static/plugins/sky-forms-pro/skyforms/js/jquery-ui.min.js"></script>
	<script type="text/javascript" src="/static/plugins/sky-forms-pro/skyforms/js/jquery.validate.min.js"></script>
	<script type="text/javascript" src="/static/plugins/sky-forms-pro/skyforms/js/jquery.maskedinput.min.js"></script>
	<script type="text/javascript" src="/static/plugins/scrollbar/js/jquery.mCustomScrollbar.concat.min.js"></script>
	
	<!-- JS Customization -->
	<script type="text/javascript" src="{% static 'js/custom.js'%}"></script>
	<!-- JS Page Level -->
	<script type="text/javascript" src="{% static 'js/app.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/plugins/style-switcher.js' %}"></script>
	<script type="text/javascript">
		jQuery(document).ready(function() {
			App.init();
		});
	</script>

	{% block js %}
	
	{% endblock js %}

	<!--[if lt IE 9]>
	<script src="static/plugins/respond.js"></script>
	<script src="static/plugins/html5shiv.js"></script>
	<script src="static/plugins/placeholder-IE-fixes.js"></script>
	<![endif]-->
</body>
</html>
