{% extends "base.html" %}

{% block css %}
	<!-- CSS Page Style -->
	<link rel="stylesheet" href="/static/css/pages/page_invoice.css">
{% endblock css %}

{% block content %}

	<!--=== Breadcrumbs ===-->
		<div class="breadcrumbs">
			<div class="container">
				<h1 class="pull-left">Invoice</h1>
				<ul class="pull-right breadcrumb">
					<li><a href="#">Home</a></li>
				
					<li class="active">Invoice</li>
				</ul>
			</div><!--/container-->
		</div><!--/breadcrumbs-->
        <!--=== End Breadcrumbs ===-->
        


        	<!--=== Content Part ===-->
		<div class="container content">
			<!--Invoice Header-->
			<div class="row invoice-header">
				<div class="col-xs-6">
					<img src="assets/img/img.jpg" alt="">
					<!-- You also can use a title instead of image
					<h2 class="pull-left">Product Invoice</h2>-->
				</div>
				<div class="col-xs-6 invoice-numb">
					#123456789 / <script>document.write(Date()) </script>
					<span>UI Prining press</span>
				</div>
			</div>
			<!--End Invoice Header-->

			<!--Invoice Detials-->
			<div class="row invoice-info">
				<div class="col-xs-6">
					<div class="tag-box tag-box-v3">
						<h2>Client Information:</h2>
						<ul class="list-unstyled">
							<li><strong>First Name:</strong>{{request.user.first_name}}</li>
							<li><strong>Last Name:</strong> {{request.user.last_name}}</li>
                            <li><strong>Phone Number</strong> {{request.user.phone_number}}</li>
							<li><strong>Address</strong> {{request.user.address}}</li>
						</ul>
					</div>
				</div>
				<div class="col-xs-6">
					<div class="tag-box tag-box-v3">
						<h2>Peyment Details:</h2>
						<ul class="list-unstyled">
							<li><strong>Bank Name:</strong> 123456789012</li>
							<li><strong>Account Number:</strong> 123456789012</li>
							<li><strong>SWIFT Code:</strong> 123DEMO45DEMO</li>
							<li><strong>V.A.T Reg #:</strong> 678DEMO45545</li>
						</ul>
					</div>
				</div>
			</div>
			<!--End Invoice Detials-->

			<!--Invoice Table-->
			<div class="panel panel-default margin-bottom-40">
				<div class="panel-heading">
					<h3 class="panel-title">Invoice Details</h3>
				</div>
				<div class="panel-body">
					<p>Payment Summary of Jobs</p>
				</div>
				<table class="table table-striped invoice-table">
					<thead>
						<tr>
							<th>#</th>
							<th>Item</th>
							<th class="hidden-sm">Description</th>
							<th>Quantity</th>
							<th>Unit Cost</th>
							<th>Total</th>
						</tr>
                    </thead>
                    
					<tbody>

						<tr>
							<td>1</td>
							<td>Keyboard</td>
							<td class="hidden-sm">At vero eos et accusamus etofficia mollitia</td>
							<td>252</td>
							<td>$52</td>
							<td>$18476</td>
                        </tr>	
                        					
					</tbody>
				</table>
			</div>
			<!--End Invoice Table-->

			<!--Invoice Footer-->
			<div class="row">
				<div class="col-xs-6">
					<div class="tag-box tag-box-v3 no-margin-bottom">
						<address class="no-margin-bottom">
							Atiba UI 2nd Gate <br>
							University of Ibadan<br>
                            Oyo State<br>
							Phone: 800 123 3456 <br>
							Fax: 800 123 3456 <br>
							Email: <a href="mailto:info@example.com">uiventures@gmail.com</a>
						</address>
					</div>
				</div>
				<div class="col-xs-6 text-right">
					<ul class="list-unstyled invoice-total-info">
						<li><strong>Sub - Total Amount:</strong> ₦109365</li>
						<li><strong>Discount:</strong> 14.8%</li>
						<li><strong>VAT ($6):</strong> ₦8371</li>
						<li><strong>Grand Total:</strong> ₦101486</li>
					</ul>
					<button class="btn-u sm-margin-bottom-10" onclick="javascript:window.print();"><i class="fa fa-print"></i> Print</button>
					<button class="btn-u">Pay</button>
				</div>
			</div>
			<!--End Invoice Footer-->
		</div><!--/container-->
		<!--=== End Content Part ===-->
{% endblock content %}
