{% extends "base.html" %}
{%load static%}
{% block css %}
	<!-- CSS Page Style -->
	<link rel="stylesheet" href="/static/css/pages/page_log_reg_v1.css">	

{% endblock css %}


{% block content %}
<!--=== Breadcrumbs ===-->
		<div class="breadcrumbs">
			<div class="container">
				<h1 class="pull-left">Login</h1>
				<ul class="pull-right breadcrumb">
					<li><a href="/">Home</a></li>
					<!-- <li><a href="#">Pages</a></li> -->
					<li class="active">Login</li>
				</ul>
			</div><!--/container-->
		</div><!--/breadcrumbs-->
		<!--=== End Breadcrumbs ===-->

		<!--=== Content Part ===-->
		<div class="container content">
			<div class="row">
				<div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3">
					<form class="reg-page" method="POST" action="">
                        {% csrf_token %}
						<div class="reg-header">
							<h2>Login to your account</h2>
						</div>

						<div class="input-group margin-bottom-20">
							<span class="input-group-addon"><i class="fa fa-user"></i></span>
							<input type="text" name="username" placeholder="Username" class="form-control">
						</div>
						<div class="input-group margin-bottom-20">
							<span class="input-group-addon"><i class="fa fa-lock"></i></span>
							<input type="password" name="password" placeholder="Password" class="form-control">
						</div>

						<div class="row">
							<div class="col-md-6 checkbox">
								<label><input type="checkbox"> Stay signed in</label>
							</div>
							<div class="col-md-6">
								<button class="btn-u pull-right" type="submit">Login</button>
							</div>
						</div>

						<hr>

						<h4>Forget your Password ?</h4>
						<p>no worries, <a class="color-green" href="#">click here</a> to reset your password.</p>
					</form>
				</div>
			</div><!--/row-->
		</div><!--/container-->
		<!--=== End Content Part ===-->

{% endblock content %}



