{% extends "base.html" %}

{% block css %}
	<!-- CSS Page Style -->
	<link rel="stylesheet" href="/static/css/pages/page_log_reg_v1.css">	

{% endblock css %}

{% block content %}

		<!--=== Breadcrumbs ===-->
		<div class="breadcrumbs">
			<div class="container">
				<h1 class="pull-left">Registration</h1>
				<ul class="pull-right breadcrumb">
					<li><a href="#">Home</a></li>
					<!-- <li><a href="#">Pages</a></li> -->
					<li class="active">Registration</li>
				</ul>
			</div><!--/container-->
		</div><!--/breadcrumbs-->
		<!--=== End Breadcrumbs ===-->

		<!--=== Content Part ===-->
		<div class="container content">
			<div class="row">
				<div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
					<form class="reg-page" method="POST">
                        {% csrf_token %}
						<div class="reg-header">
							<h2>Register a new account</h2>
							<p>Already Signed Up? Click <a href="/login" class="color-green">Sign In</a> to login your account.</p>
						</div>

						<label>First Name<span class="color-red">*</span></label>
						<input type="text" name="fname" class="form-control margin-bottom-20" required>

						<label>Last Name<span class="color-red">*</span></label>
						<input type="text" name="lname" class="form-control margin-bottom-20" required>

						<label>Username<span class="color-red">*</span></label>
						<input type="text" name="uname" class="form-control margin-bottom-20" required>

						<label>Email Address <span class="color-red">*</span></label>
						<input type="text" name="email" class="form-control margin-bottom-20" required>
                        
                        <label>Phone number<span class="color-red">*</span></label>
						<input type="text" name="number" class="form-control margin-bottom-20" required>
						
						<label>Address<span class="color-red">*</span></label>
                        <input type="text" name="addy" class="form-control margin-bottom-20" required>
                        
						<div class="row">
							<div class="col-sm-6">
								<label>Password <span class="color-red">*</span></label>
								<input type="password" name="pass" class="form-control margin-bottom-20" required>
							</div>
							<div class="col-sm-6">
								<label>Confirm Password <span class="color-red">*</span></label>
								<input type="password" name="cpass" class="form-control margin-bottom-20" required>
							</div>
						</div>

						<hr>

						<div class="row">
							<div class="col-lg-6 checkbox">
								<label>
									<input type="checkbox">
									I read <a href="#" class="color-green">Terms and Conditions</a>
								</label>
							</div>
							<div class="col-lg-6 text-right">
								<button class="btn-u" type="submit">Register</button>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div><!--/container-->
		<!--=== End Content Part ===-->

{% endblock content %}

